.container{
    height: 100vh;
    width: auto;
}


.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 40px;
    padding: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.label{
    font-size: 20px;
    font-weight: solid;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 5px;
}
