.navbar{
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black
}

.linkSection{
    display: flex;
    gap: 25px;
}

.link {
    text-decoration: none;
    color: black;
    border:1px solid black;
    padding: 5px;
    font-weight: bold;
}

.link:hover{
    background-color: black;
    color: white;
}

.profile{
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color:black
}

.profile:hover{
    background-color: black;
    color: white;
}

.dashboard{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.message{
    color: tomato;
}


