body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid teal;
    background-color: teal;
}

.linkSection{
    display: flex;
    gap: 25px;
}

.link {
    text-decoration: none;
    color: teal;
    background: rgb(192, 240, 240);
    /* border:1px solid black; */
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0.5px;
    transition: 1s;
    cursor: pointer;
}

.link:hover{
    background-color: black;
    color: white;
}

/* .profile{
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color:black
} */

.profile:hover{
    background-color: black;
    color: white;
}

.dashboard{
    width: 100%;
    height: 100vh;
    background: rgb(192, 240, 240);
}

.message{
    color: tomato;
}

.logout{
    all:unset;
    background-color: tomato;
    padding: 8px 12px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 2px 0.5px;
}

.heading{
    font-size: 30px;
}

.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    box-shadow: 0px 0px 2px 0.5px;
    margin: 30px;
    padding: 30px;
    width: 900px;
    border-radius: 20px;
    font-weight: bold;
}

.box{
    box-shadow: 0px 0px 2px 0.5px;
    margin:10px;
    font-weight: 700;
    height: 200px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 30px;
}

.values{
    color: teal;
}