.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #0d9488 0%, #14b8a6 100%);
    /* border: 2px solid teal; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid teal; */
    box-shadow: 0px 0px 10px 0.5px;
    width: 400px;
    height: 450px;
    border-radius: 40px;
    background: rgb(192, 240, 240);
}

.title{
    color: teal;
}

.input{
  width: 300px;
  height: 16px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid teal;
  margin-top: 20px;
}

.input::placeholder{
  padding-left: 10px;
  color: teal;
}

.button{
  margin-top: 10px;
  margin-left: 30px;
  width: 150px;
  height: 40px; 
  background-color: teal;
  color: white;
  border-radius: 10px;
}

