body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox{
  width:500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  font-size: 40px;
}

.input{
  width: 300px;
  height: 30px;
}

.button{
  margin-left: 50px;
  width: 200px;
  height: 30px; 
}

.messageBox{
  color: tomato;
}

.link{
  margin-top: 10px;
  text-decoration: none;
}