.sidebar{
    width: 20%;
    height: 100vh;
    background-color: rgb(116, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    position:absolute
}

.links{
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.link:hover{
    color: white;
    transition: 0.5s;
}

.container{
    height: 100vh;
    width: 100%;
    background: rgb(192, 240, 240);
    padding-left: 20%;
}

.box{
    height: 100%;
    width: 100%;
}

.databox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

}

.title{
    font-size: 30px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.button{
    margin-left: 50px;
}

.table{
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

.table th, .table td {
  border: 1px solid teal;
  padding: 8px 12px;
}

