.sidebar{
    width: 20%;
    height: 100vh;
    background-color: rgb(116, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
    position:absolute
}

.links{
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.link:hover{
    color: white;
    transition: 0.5s;
}

.container{
    height: 100vh;
    width: 100%;
    background: rgb(192, 240, 240);
    padding-left: 20%;
}

.box{
    height: 100%;
    width: 100%;
}

.databox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

}

.title{
    font-size: 30px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.button{
    margin-left: 50px;
}

.table{
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}

.table th, .table td {
  border: 1px solid teal;
  padding: 8px 12px;
}


.form{
    height: 300px;
    width: 400px;
    background-color: white;
    position: fixed;
    top: 170;
    left: 400;
    background-color: teal;
    box-shadow: 0px 0px 10px 0.5px;
    border-radius: 40px;
}

.formhead{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heading{
    font-size: 25px;
}

.input{
    height: 30px;
    width: 300px;
    color: teal;
    border-radius: 10px;
    padding: 8px;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}