body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(192, 240, 240); 
    height: 100vh; 
}

.leadHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table{
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    margin: 10px;
}


.message{
    color: tomato;
}

.table th, .table td {
  border: 1px solid teal;
  padding: 8px 12px;
}

.button{
    padding: 8px 12px;
    width: 150px;
    background-color: teal;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    margin-left: 50px;
}

.title{
    font-size: 40px;
    color: teal;
}

.table th{
    color: teal;
}

.table td{
    color: rgb(1, 151, 151);
}

.select{
    color: teal;
    border: 1px solid teal;
    border-radius: 10px;
}
